<h3 class="text-center">Livestream</h5>

<p class="text-center">68.3.186.5</p>
<img src="http://68.3.186.5:666/" class="img-responsive" alt="If you are unable to see the external live stream please try again using the Firefox browser or contact us."></img>

<p class="text-center">192.168.1.183</p>
<div class="col-xs-12">
  <img src="http://192.168.1.193:8081/" class="img-responsive" alt="If you are unable to see the internal live stream please try again using the Firefox browser or contact us."></img>
</div>