<h3 class="text-center"><%= @event.image_file_name %></h3>
<%= link_to "Return to Events Index", events_path %></br>
<div class="col-xs-12 event_thumb">
  <%= image_tag @event.image.url %></br>
  <%= @event.created_at.localtime.strftime("%a, %d %b %Y %I:%M:%S %p") %>
</div>
